@font-face {
    font-family: 'PT Mono';
    src:    url('PTMono-Regular.woff2') format('woff2'),
            url('PTMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}