// PT fonts for the logo
@import "../fonts/stylesheet.css";

// Round buttons
@import "./round-buttons.scss";

html, body {
    /*height needs to be 100% to take full screen*/
    height: 100%;
}

/*Making rendeder to overlay over video*/
#renderer_canvas {
    // box-shadow: inset 0 0 20px #ddd;
    position: absolute;
    z-index: 1050;
}
#remote_video {
    /* box-shadow: 0px 0px 20px 0px #aaa; */
    position: absolute;
    z-index: 1040;
    transform:rotate(-90deg);

}

/*This is needed to make login drop a little wider*/
.dropdown-menu {
    min-width: 20rem;
}

#remoteMap_canvas {
    cursor: crosshair;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.shadow-left {
    box-shadow: 0 0 20px 0 #aaa;
}

.shadow-right {
    box-shadow: 0 0 20px 0 #aaa;
}

.hud_elem {
  z-index: 1060;
  opacity: .8;
  position: absolute;
  pointer-events: none;
  background-color: rgba(245, 245, 245, 0.0);
  border: none;
  font-weight: bold;
}

.battery {
  right: 4%; 
  top: 2%;
  height: 30px;
  width: 85px;
}

#screen_msg {
  top: 20%;
  background-color: rgba(245, 245, 245, 0.0);
  border: none;
  opacity: .9;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
}

// autonomy slider properties
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding-left: 0px;
  padding-right: 0px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#controls_gui {
  position: absolute;
  right: 5px;
  z-index: 1060;
  opacity: 0.7;
}

#vr_button {
  z-index: 1060;
  left: 20px;
  top: 20px;
  opacity: 0.1;
}


@media (min-width: 768px) and (max-width: 991px) {
  //#left_col{
  //  display: none;
  //}
}
@media (max-width: 767px) {
  #left_col{
    display: none;
  }
}
@media (max-width: 575px) {
  #right_col{
    display: none;
  }
}
